.card {
	@apply transition-colors ease-in-out;

	span:first-of-type {
		@apply text-gray-300;
	}

	div:first-of-type {
		@apply rounded border border-gray-500 p-4 mt-2;

		header {
			@apply flex items-center justify-between gap-4 pb-4;

			&>span:first-of-type {
				@apply flex gap-2 items-center text-sm text-blue-500 font-medium;

				&.locked {
					@apply text-orange-500
				}
			}
		}

		strong {
			@apply block text-gray-200;
		}
	}

	&:hover {
		div:first-of-type {
			@apply border-green-500;
		}
	}

	&.active {
		div:first-of-type {
			@apply relative bg-green-500 border-green-500 text-white;


			header {
				&>span:first-of-type {
					@apply text-white;
				}
			}

			strong {
				@apply text-white;
			}


		}
	}

	&.locked {
		@apply pointer-events-none;
	}
}